@import '_humb.scss';

.header {
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
}
.header__button {
    background-color: #fff;
    border-radius: 14px;
    padding: 12px 20px;
}

@media (max-width: 470px) {
    .header__logo {
        margin-right: -100px;
    }
    .header__button {
        display: none;
    }
}